@tailwind base;
@tailwind components;
@tailwind utilities;

/* Suas customizações globais aqui embaixo */

.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1; /* Cor cinza clara */
    border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #475569; /* Cor para modo dark */
}